@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.page-header {
        background-color: #178A11;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
}

.user-header {
    float: right;
    width: 100px;
    padding: 10px;
}

.content {
        margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

.top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
}

.gamelist {
    margin-bottom: 70px;
}

table, th, td {
       border: 0px solid black;
   }

#games {
    border-collapse: collapse;
}

#games td {
    padding: 0px 10px 0px 10px;
    text-align: center;
    white-space: nowrap;
}

#games td.teams {
    padding: 20px 10px 0px 10px;
    font-size: 1.5em;
}

#games td.at {
    padding: 20px 7px 0px 7px;
    font-size: 0.875em;
}

#games td.picks {
    padding: 4px 10px 20px 10px;
	max-width: 100px;
    white-space: normal;
}
#games td.gametime {
    padding: 0px 10px 0px 10px;
    font-size: 0.875em;
}

#games tr.base td {
    background-color: #FFFFFF;
}

#games tr.alt td {
    background-color: #D9D9D9;
}

.currentweek {
    font-size: 1.25em;
    font-weight: bold;
}


