.page-header {
        background-color: #178A11;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
}

.user-header {
    float: right;
    width: 100px;
    padding: 10px;
}

.content {
        margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

.top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
}

.gamelist {
    margin-bottom: 70px;
}

#games {
    border-collapse: collapse;
}

#games td {
    padding: 3px 7px 2px 7px;
    background-color: #9FE09F;
}

#games tr.at td {
    padding: 0px 7px 0px 7px;
    font-size: 0.875em;
    background-color: #FFFFFF;
}

#games tr.home td {
    background-color: #9FC0E0;
}

#games tr.blank td {
    padding: 5px 7px 5px 7px;
    background-color: #FFFFFF;
}


