{% load staticfiles %}
<html>
<head>
    <title>Football Picks</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/footballseason.css" %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Football Picks</a></h1>
    </div>
    <div class="user-header">
        <table id="top-links">
            <tr>
                <td class="nav">
                    <a href="{% url 'footballseason:display_current' %}">View picks</a>
                    &nbsp; &nbsp; 
                    <a href="{% url 'footballseason:submit_current' %}">Submit picks</a>
                    &nbsp; &nbsp; 
                    <a href="{% url 'footballseason:live' %}">Live scores</a>
                </td>
                <td class="login">
                    {% if user.is_authenticated %}
                    <a href="/logout">Logout ({{ user.first_name }})</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="content container">
                {% block content %}
                {% endblock %}
    </div>
</body>
</html>
