{% extends "footballseason/base.html" %}

{% load get_range %}

{% block content %}

<div>
<h1>Games for week {{ week_id }}</h1>
</div>

<div class="gamelist">
{% if games_list %}
	<table id="games">
	{% for game in games_list %}
		<tr>
		<td>
			<b>{{ game.away_team }}</b> ({{game.away_team.wins}}-{{game.away_team.loses}}-{{game.away_team.ties}})
		</td>
		<td>
		{% for pick in game.pick_set.all %}
		{% if pick.team_to_win == game.away_team %}
			{{ pick.user_name }} &nbsp;
		{% endif %}
		{% endfor %}
		</td>
		</td>
		</tr>
		<tr class="at">
		<td>
		at
		</td>
		</tr>
		<tr class="home">
		<td>
			<b>{{ game.home_team }}</b> ({{game.home_team.wins}}-{{game.home_team.loses}}-{{game.home_team.ties}})
		</td>
		<td>
		{% for pick in game.pick_set.all %}
		{% if pick.team_to_win == game.home_team %}
			{{ pick.user_name }} &nbsp;
		{% endif %}
		{% endfor %}
		</td>
		</tr>
		<tr class="blank"><td colspan=2>&nbsp;</td></tr>
	{% endfor %}
	</table>
{% else %}
	<p>No games added.</p>
{% endif %}
</div>

<div>
<h3>View picks for week:</h3>
{% for i in 17|get_range %}
    {% with week=i|add:"1" %}
    <a href="{% url 'footballseason:display' week %}">{{ week }} </a> &emsp;
    {% endwith %}
{% endfor %}
<br><br>
</div>

{% endblock content %}
