{% extends "footballseason/base.html" %}

{% load get_range %}
{% load fbfilters %}

{% block content %}

<div>
<h1>Games for week {{ week_id }}</h1>
</div>

<div class="gamelist">
<br>
{% if games_list %}
	<table id="games">
	{% for game in games_list %}
		<tr>
			<td class="teams">
				<b>{{ game.away_team }}</b>
			</td>
			<td class="at">
				at
			</td>
			<td class="teams">
				<b>{{ game.home_team }}</b>
			</td>
		</tr>
		<tr>
			<td class="record">
				{{ game.away_team|display_record }}
			</td>
			<td class="gametime">
				{{ game|display_gametime }}
			</td>
			<td class="record">
				{{game.home_team|display_record}}
			</td>
		</tr>
		<tr>
			<td class="picks">
				{% for pick in game.pick_set.all %}
				{% if pick.team_to_win == game.away_team %}
				{{ pick.user_name }} &nbsp;
				{% endif %}
				{% endfor %}
			</td>
			<td>
			</td>
			<td class="picks">
				{% for pick in game.pick_set.all %}
				{% if pick.team_to_win == game.home_team %}
				{{ pick.user_name }} &nbsp;
				{% endif %}
				{% endfor %}
			</td>
		</tr>
		<tr class="blank"><td colspan=3>&nbsp;</td></tr>
	{% endfor %}
	</table>
{% else %}
	<p>No games added.</p>
{% endif %}
</div>

<div>
<h3>View picks for week:</h3>
{% for i in 17|get_range %}
	{% with week=i|add:"1" %}
	<a href="{% url 'footballseason:display' week %}">{{ week }} </a> &emsp;
	{% endwith %}
{% endfor %}
<br><br>
</div>

{% endblock content %}
