{% extends "footballseason/base.html" %}

{% block content %}

<div>
<h1> Welcome to Football Picks Week {{current_week}}</h1>
<br>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="isa_error"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="isa_warning"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="isa_info"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="isa_success"> {{ message }} </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% load get_range %}
<h2><a href="{% url 'footballseason:display' current_week %}">View</a> or <a href="{% url 'footballseason:submit' current_week %}">submit</a> picks for current week</h2>
<br>
<h3>Submit picks for week:</h3>
{% for i in 17|get_range %}
    {% with week=i|add:"1" %}
        {% if week < current_week %}
            {{ week }} &emsp; 
        {% else %}
            {% if week == current_week %}
                <span class=currentweek>
            {% endif %}
            <a href="{% url 'footballseason:submit' week %}">{{ week }} </a> &emsp; 
            {% if week == current_week %}
                </span>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endfor %}

<br><br>

<h3>View picks for week:</h3>
{% for i in 17|get_range %}
    {% with week=i|add:"1" %}
    {% if week == current_week %}
    <span class=currentweek>
    {% endif %}
    <a href="{% url 'footballseason:display' week %}">{{ week }} </a> &emsp; 
    {% if week == current_week %}
    </span>
    {% endif %}
    {% endwith %}
{% endfor %}

{% endblock content %}
