{% extends "footballseason/base.html" %}

{% block content %}

<div>
<h1> Welcome to Football Picks Week {{current_week}}</h1>
<br><br>
</div>

{% load get_range %}
<h2>Submit picks for <a href="{% url 'footballseason:submit' current_week %}">current week</a></h2>
<br>
<h3>Or submit picks for week:</h3>
{% for i in 17|get_range %}
    {% with week=i|add:"1" %}
        {% if week < current_week %}
            {{ week }} &emsp; 
        {% else %}
            {% if week == current_week %}
                <span class=currentweek>
            {% endif %}
            <a href="{% url 'footballseason:submit' week %}">{{ week }} </a> &emsp; 
            {% if week == current_week %}
                </span>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endfor %}

<br><br>

<h2>View picks for week:</h2>
{% for i in 17|get_range %}
    {% with week=i|add:"1" %}
    {% if week == current_week %}
    <span class=currentweek>
    {% endif %}
    <a href="{% url 'footballseason:display' week %}">{{ week }} </a> &emsp; 
    {% if week == current_week %}
    </span>
    {% endif %}
    {% endwith %}
{% endfor %}

{% endblock content %}
