{% extends "footballseason/base.html" %}

{% load get_range %}
{% load fbfilters %}

{% block content %}

<div>
<h1>Live scores</h1>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="isa_error"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="isa_info"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="isa_success"> {{ message }} </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="gamelist">
<br>
{% if live_list %}
    <table id="games">
    {% for entry in live_list %}
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="teams">
                <b>{{ entry.0.away_team }}</b>
            </td>
            <td class="score">
                {{ entry.1.1 }} - {{ entry.1.3 }}
            </td>
            <td class="teams">
                <b>{{ entry.0.home_team }}</b>
            </td>
        </tr>
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="record">
                {{ entry.0.away_team|display_record }}
            </td>
            <td class="gametime">
                {{ entry.1.4 }}
            </td>
            <td class="record">
                {{entry.0.home_team|display_record}}
            </td>
        </tr>
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="picks">
                {% for pick in entry.0.pick_set.all %}
                {% if pick.team_to_win == entry.0.away_team %}
                {{ pick.user_name }} &nbsp;
                {% endif %}
                {% endfor %}
            </td>
            <td>
            </td>
            <td class="picks">
                {% for pick in entry.0.pick_set.all %}
                {% if pick.team_to_win == entry.0.home_team %}
                {{ pick.user_name }} &nbsp;
                {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No games added.</p>
{% endif %}
</div>

{% endblock content %}
