{% extends "footballseason/base.html" %}

{% load get_range %}
{% load fbfilters %}

{% block content %}

<div>
    {% if week %}
    <h1>Records for week {{ week }} of the {{ season }} season</h1>
    {% else %}
    <h1>Records for the {{ season }} season</h1>
    {% endif %}
</div>

<div class="records">
<br>
    <table id="recordtable">
        {% for record in record_list %}
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="name">
                {{ record.user_name }}
            </td>
            <td class="record">
                {{ record.wins }} wins
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h3>View records for season:</h3>
    <a href="{% url 'footballseason:records_by_season' 2015 %}">2015</a> &emsp;
    <h3>View records for season {{season}}, week:</h3>
    {% for i in 17|get_range %}
        {% with week=i|add:"1" %}
        <a href="{% url 'footballseason:records_by_week' season week %}">{{ week }} </a> &emsp;
        {% endwith %}
    {% endfor %}
<br><br>
</div>

{% endblock content %}
