{% extends "footballseason/base.html" %}

{% load get_range %}
{% load fbfilters %}

{% block content %}

<div>
    {% if week %}
    <h1>Records for week {{ week }} of the {{ season_id }} season</h1>
    {% else %}
    <h1>Records for the {{ season_id }} season</h1>
    {% endif %}
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="isa_error"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="isa_warning"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="isa_info"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="isa_success"> {{ message }} </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="records">
<br>
    <table id="recordtable">
        {% if record_list %}
        {% for record in record_list %}
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="name">
                {{ record.user_name }}
            </td>
            <td class="record">
                {{ record.wins }} wins
            </td>
        </tr>
        {% endfor %}
        {% elif season_totals %}
        {% for record in season_totals %}
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="name">
                {{ record.0 }}
            </td>
            <td class="record">
                {{ record.1 }} wins
            </td>
            <td class="record">
                {{ record.2 }} losses
            </td>
            <td class="record">
                {{ record.3|floatformat:2 }}%
            </td>
        </tr>
        {% endfor %}
        {% else %}
        No records found
        {% endif %}

    </table>
</div>

<div>
    <h3>View records for season {{season_id}}, week:</h3>
    {% for i in 17|get_range %}
        {% with week=i|add:"1" %}
        <a href="{% url 'footballseason:records_by_week' season_id week %}">{{ week }} </a> &emsp;
        {% endwith %}
    {% endfor %}
    <h3>View records for season:</h3>
    <a href="{% url 'footballseason:records_by_season' season_id %}">{{season_id}}</a> &emsp;
<br><br>
</div>

{% endblock content %}
