{% extends "footballseason/base.html" %}
{% load fbfilters %}

{% block content %}

<div>
<h1>Submit picks for week {{ week_id }}</h1>
<br>
</div>

<div>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="isa_error"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="isa_info"> {{ message }} </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="isa_success"> {{ message }} </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if error_message %}
<div class="isa_error"> {{ error_message }} </div>
<br>
{% endif %}

{% if games_list %}

<form action="{% url 'footballseason:vote' week_id %}" method="post">
    {% csrf_token %}
    <table id="games">
    {% for game in games_list %}
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="teams">
                <input type="radio" name="game{{ forloop.counter }}" id="away_team{{ forloop.counter }}" value="{{ game.away_team.id }}" />
                <label for="away_team{{ forloop.counter }}">{{ game.away_team }}</label><br />
            </td>
            <td class="at">
                at
            </td>
            <td class="teams">
                <input type="radio" name="game{{ forloop.counter }}" id="home_team{{ forloop.counter }}" value="{{ game.home_team.id }}" />
                <label for="home_team{{ forloop.counter }}">{{ game.home_team }}</label><br />
            </td>
        </tr>
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="record">
                {{ game.away_team|display_record }}
            </td>
            <td class="gametime">
                {{ game|display_gametime }}
            </td>
            <td class="record">
                {{game.home_team|display_record}}
            </td>
        </tr>
        <tr class={% if forloop.counter|divisibleby:2 %}"base"{% else %}"alt"{% endif %}>
            <td class="picks" colspan=3></td>
        </tr>
    {% endfor %}
    </table>

    <input type="submit" value="Vote" />
</form>
{% else %}
    <p>No games added.</p>
{% endif %}

</div>

{% endblock content %}
