{% extends "footballseason/base.html" %}

{% block content %}

<div>
<h1>Submit picks for week {{ week_id }}</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div>
{% if games_list %}

<form action="{% url 'footballseason:vote' week_id %}" method="post">
	{% csrf_token %}
	{% for game in games_list %}
		<input type="radio" name="game{{ forloop.counter }}" id="away_team{{ forloop.counter }}" value="{{ game.away_team.id }}" />
		<label for="away_team{{ forloop.counter }}">{{ game.away_team.team_name }} </label><br />
		<input type="radio" name="game{{ forloop.counter }}" id="home_team{{ forloop.counter }}" value="{{ game.home_team.id }}" />
		<label for="home_team{{ forloop.counter }}">{{ game.home_team.team_name }} </label><br /><br />
	{% endfor %}

	<input type="submit" value="Vote" />
</form>

{% else %}
    <p>No games added</p>
{% endif %}
</div>

{% endblock content %}
