.Records {
  padding: 10px 10px 10px 10px;
}

.TopRightButton {
  margin: 10px 5px 10px 5px;
}

.AlignRight {
  float: right;
}

.roundedDivider {
  height: 6px;
  width: 85%;
  border-radius: 3px;
  background-color: #8e662f;
  margin-bottom: 30px;
}
